<div class="container">
  <div class="row mb-4">
    <div class="mb-3">
      <a class="btn btn-outline-secondary ml-auto" href="/admin/clothes">Back</a>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        {{#each clothe.Images}}
        {{#if isCover}}
        <div class="position-relative">
          <img class="img-fluid" src="{{name}}"
            style="width: 100%; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;"
            onload="this.style.opacity=1;">
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>

    <div class="col-md-6">
      <h2>{{clothe.name}}</h2>
      <span class="badge bg-secondary">{{clothe.Category.name}}</span>
      <p>{{clothe.description}}</p>
      <h4>NT.{{clothe.price}}</h4>
    </div>
  </div>

<div class="row">
  {{#each clothe.Images}}
  {{#if isCover}}
  <div class="col-md-4">
    <div class="position-relative">
      <img class="img-fluid" src="{{this.name}}"
        style="width: 100%; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      <form action="/admin/images/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
        <button class="btn btn-danger btn-sm position-absolute top-0 start-0 m-2" type="submit">
          X
        </button>
      </form>
      <form action="/admin/images/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
        <button class="btn btn-primary btn-sm position-absolute top-0 end-0 m-2" type="submit">
          Cover Photo
        </button>
      </form>
    </div>
  </div>
  {{/if}}
  {{/each}}
  {{#each clothe.Images}}
    {{#unless isCover}}
      <div class="col-md-4">
        <div class="position-relative">
          <img class="img-fluid" src="{{this.name}}"
            style="width: 100%; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
          <form action="/admin/images/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-danger btn-sm position-absolute top-0 start-0 m-2" type="submit">
              X
            </button>
          </form>
          <form action="/admin/images/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
            <button class="btn btn-primary btn-sm position-absolute top-0 end-0 m-2" type="submit">
                  Normal Photo
            </button>
          </form>
        </div>
      </div>
    {{/unless}}
  {{/each}}
</div>