<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>

<form action="">
<div class="row">
  <div class="col-md-4">
    <div class="well">
      <img class="img-responsive center-block" src="{{clothe.Images}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    </div>
  </div>

  <div class="col-md-8">
    <p style="white-space: break-spaces;">{{clothe.Category.name}}</p>
    <p style="white-space: break-spaces;">{{clothe.name}}</p>
    <p style="white-space: break-spaces;">{{clothe.description}}</p>
    <p style="white-space: break-spaces;">NT.{{clothe.price}}</p>
  </div>
  <hr>
</div>