<div class="form-row mb-3">
  <label class="form-label" for="name">Name</label>
  <input class="form-control" type="text" name="name" id="name" placeholder="Enter name" value="{{clothe.name}}"
    required>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="description">Description</label>
  <textarea class="form-control" id="description" name="description" rows="3">{{clothe.description}}</textarea>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="price">Price</label>
  <input class="form-control" type="text" name="price" id="price" placeholder="Enter price" value="{{clothe.price}}">
</div>
<div class="form-row mb-3">
  <label class="form-label" for="categoryId">Category</label>
  <select class="form-control" id="categoryId" name="categoryId">
    {{#each categories}}
    <option value="{{this.id}}" {{#ifCond this.id ../clothe.categoryId}} selected {{/ifCond}}>
      {{this.name}}
    </option>
    {{/each}}
  </select>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="cover">Cover</label>
  <input class="form-control" type="file" id="cover" name="cover" data-clothe-id="{{clothe.id}}">
  <div class="image-container d-flex flex-row my-3">
    {{#each clothe.Images}}
    {{#if isCover}}
    <div class="image-item position-relative">
      <img src="{{name}}" alt="Cover Image" class="img-thumbnail mt-2" style="max-width: 200px;">
    </div>
    {{/if}}
    {{/each}}
  </div>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="image">
    image
    <span class="mx-2">
      (Please upload up to "5" images.)
    </span>
  </label>
  <input class="form-control" type="file" id="image" name="image" multiple data-clothe-id="{{clothe.id}}">
  <div class="image-container d-flex flex-row my-3">
    {{#each clothe.Images}}
    {{#unless isCover}}
    <div class="image-item position-relative">
      <img src="{{name}}" alt="Image" class="img-thumbnail mt-2" style="max-width: 200px;">
    </div>
    {{/unless}}
    {{/each}}
  </div>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>