<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link {{#ifCond '' categoryId}}active{{/ifCond}}" href="?categoryId=">All Items</a>
  </li>
  {{#each categories}}
  <li class="nav-item">
    <a class="nav-link {{#ifCond this.id ../categoryId}}active{{/ifCond}}"
      href="?categoryId={{this.id}}">{{this.name}}</a>
  </li>
  {{/each}}
</ul>

<div class="row mt-3">
  {{#each clothes}}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm p-3 border-3" style="border-color: #ffced9">
      <a href="/clothes/{{this.id}}">
        <img class="card-img-top img-fluid" src="{{this.Images.name}}" alt="Card image cap" width="286px" height="180px"
          style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      </a>
      <div class="card-body">
        <p class="card-text">
          <a href="/clothes/{{this.id}}">
            {{this.name}}
          </a>
        </p>
        <p class="card-text text-truncate">NT. {{this.price}}</p>
        <div class="d-flex">
          {{#if isFavorited}}
          <form id="favoriteForm" action="/favorite/{{this.id}}?_method=DELETE" method="POST">
              <i class=" favoriteIcon fa-solid fa-heart fa-2xl" style="color: #d7370f;"></i>
          </form>
          {{else}}
          <form id="favoriteForm" action="/favorite/{{this.id}}" method="POST">
              <i class=" favoriteIcon fa-solid fa-heart fa-2xl" style="color: #b7bec8;"></i>
          </form>
          {{/if}}

        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<div class="d-flex justify-content-center">
  <nav class="mt-3 " aria-label="page navigation">
    <ul class="pagination">
      <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
        <a class="page-link" href="/clothes?page={{pagination.prev}}&categoryId={{categoryId}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {{#each pagination.pages}}
      {{#ifCond this ../pagination.currentPage}}
      <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
      {{else}}
      <li class="page-item">
        <a class="page-link" href="/clothes?page={{this}}&categoryId={{../categoryId}}">{{this}}</a>
      </li>
      {{/ifCond}}
      {{/each}}
      <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
        <a class="page-link" href="/clothes?page={{pagination.next}}&categoryId={{categoryId}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

