<div class="row justify-content-center">
  <div class="col-md-6 col-lg-8">
    <form action="/orders" method="POST">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="card-title">Order Details</h5>
            <a href="/orders/{{order.id}}/edit" class="btn btn-secondary">Edit</a>
          </div>
          <ul class="list-group list-group-flush">
            {{#ifCond user.id userId}}
              {{#each order.OrderDetails}}
                <li class="list-group-item mb-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <a class="pr-3 w-25" href="/clothes/{{this.Clothe.id}}">{{this.Clothe.name}}</a>
                    <div class="pr-3">
                      <span class="d-block text-primary">Quantity:{{this.quantity}}</span>
                      <input type="hidden" name="quantity" value="{{this.quantity}}">
                      <span class="d-block text-primary">Price: NT.{{this.Clothe.price}}</span>
                      <input type="hidden" name="price" value="{{this.Clothe.price}}">
                    </div>
                  </div>
                </li>
              {{/each}}
            {{/ifCond}}
          </ul>
          <div class="card-footer">
            <p class="mb-0">Total: NT.{{total}}</p>
            <div class="form-row mb-3">
              <label class="form-label" for="note">Note</label>
              <textarea class="form-control" id="note" name="note" rows="3">{{order.note}}</textarea>
            </div>
            <div class="btn-group float-right mt-3" role="group">
              <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
