<ul class="list-group list-group-flush">
  {{#ifCond order.userId user.id}}
  {{#each order.OrderDetails}}
  <li class="list-group-item mb-3">
    <div class="d-flex justify-content-between align-items-center">
      <a class="pr-3 w-25" href="/clothes/{{this.Clothe.id}}">{{this.Clothe.name}}</a>
      <div class="pr-3">
        <span class="d-block text-primary">Quantity:{{this.quantity}}</span>
        <input type="hidden" name="quantity" value="{{this.quantity}}">
        <span class="d-block text-primary">Price: NT.{{this.Clothe.price}}</span>
        <input type="hidden" name="price" value="{{this.Clothe.price}}">
      </div>
    </div>
  </li>
  {{/each}}
  {{/ifCond}}
</ul>

<div class="card-footer">
  <p class="mb-0">Total: NT.{{total}}</p>
  <div class=" mb-3">
    <p class="badge bg-danger mt-3" id="note" name="note" rows="3">Note:</p>
    <p class="fs-5" id="note" name="note" rows="3">{{order.note}}</p>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    {{#if user.isAdmin }}
    {{#if order.isDone}}
    <form action="/admin/orders/{{order.id}}?_method=PATCH" method="POST" style="display: inline;">
      <input type="hidden" name="isAdmin" value="false" />
      <button type="submit" class="btn btn-success">Done</button>
    </form>
    {{else}}
    <form action="/admin/orders/{{order.id}}?_method=PATCH" method="POST" style="display: inline;">
      <input type="hidden" name="isAdmin" value="true" />
      <button type="submit" class="btn btn-info">Processing</button>
    </form>
    {{/if}}
    {{/if}}
    <a class="btn btn-outline-secondary ml-auto" href="/admin/orders">Back</a>
  </div>
</div>